body{
    background-color: #0f1421;
}


.headliv{
    background-color: #212529;;
}

.normalbg{
    background-color: #0f1421;
}

/*bootstrap5美化*/
.form-select:focus,.page-link:focus,.btn:focus,.navbar-toggler:focus{
    box-shadow:none!important;
    }




.card,.card-header,.card-body,.card-footer{
    background-color: #212529;
}




.dropdown-menu{
    background-color: #212529;
}
.dropdown-item{
        color:white;
        background-color: #212529;
    }
.dropdown-item:active{
    background-color: gray;
    color: white;
}



.form-check-input:focus{
    /*outline: none!important;*/
    box-shadow: none!important;
}

.normalText{
    color: #7a7d86;
}
.titlext{
    color: #212529;;
}

.cardbg{
    background-color: #495050;
}

